.standard-nav.container.max-w600px
  .font-base.light-color
    = link_to 'HOME',
      'index',
      class: 'mr1'
    |
    = link_to 'PROJECTS',
      '/projects',
      class: 'mr1 ml1'
    |
    = link_to 'GITHUB',
      'https://github.com/ykzhukian',
      class: 'mr1 ml1',
      :target => '_blank'
    |
    = link_to 'INSTAGRAM',
      'https://www.instagram.com/kianykz/',
      class: 'mr1 ml1',
      :target => '_blank'
    |
    = link_to 'MESSAGE',
      '/message',
      class: 'mr1 ml1',
      :target => '_blank'

.mobile-nav.w100
  #trigger.m-auto
  #cross.m-auto.mb4.mt4
  #mobile-nav-wrapper
    .mobile-nav-box.font-base.light-color.flex.justify-between.flex-column.items-center
      = link_to 'HOME',
        'index'
      = link_to 'PROJECTS',
        '/projects'
      = link_to 'GITHUB',
        'https://github.com/ykzhukian',
        :target => '_blank'
      = link_to 'INSTAGRAM',
        'https://www.instagram.com/kianykz/',
        :target => '_blank'
      = link_to 'MESSAGE',
        '/message'
.container.max-w600px
  %p.font-small.light-color 2017 &copy; Kian Zhu